@using BusineesLayer.Managers
@model EmployeetAutherization


@{
    ViewBag.Title = "AppProfile";
    ViewBag.Name = Model.InstructorName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.InstructorName</h2>

<a href="/Employee/SendExamNotification"></a>
@Html.ActionLink("Send Notify","SendExamNotification", "Employee", new { Id = 1061 },null);




@Model.InstructorName