@using BusineesLayer.Managers
@model EmployeetAutherization


@{
    ViewBag.Title = "AppProfile";
    ViewBag.Name = Model.InstructorName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@* Hidden Data *@
<input type="hidden" value=@Model.InstructorName name="Instructor_Name" />
<input type="hidden" value=@Model.Mail name="Instructor_Mail" />
<input type="hidden" value=@Model.supervisiedTrackId name="Instrructor_Sup" />
<input type="hidden" value=@Model.BranchID name="Branch" />
<input type="hidden" value=@Model.EmployeeID name="Id" />
<input type="hidden" value=@Model.PlatformID name="Platform" />
<input type="hidden" value=@Model.TypeID name="Type_Data" />


<h2>@Model.InstructorName</h2>
<a href="/Employee/SendExamNotification"></a>
<input type="button" id="createExam" />
<input type="button" id="test"/>
 



@Model.InstructorName

@section scripts {
    <script type="text/javascript">
        var Instructor_Name = $("[name='Instructor_Name']").val();
        var Instructor_Mail = $("[name='Instructor_Mail']").val();
        var Branch = $("[name='Branch']").val();
        var Id = $("[name='Id']").val();
        var Platform = $("[name='Platform']").val();
        var Type = $("[name='Type_Data']").val();
        var Host = "http://localhost:51490";
        var Rediercted_Url = Host + "/Exam/CreateExam";
        var LoggedEntity = "W"; 
        // Instructor To send to .....!

        <input type="button" id="createExam" />
        $("#test").click(function () {
            $("#Notifi_icon").html(12);
        })
        $.connection.hub.url = "http://localhost:51822/signalr";
        var exam = $.connection.examHub;

        $("#createExam").click(function () {
            //target 
            console.log("As")
            var Inst_Id = 1043;
            //---------------------
            $.ajax({
                type: 'GET',
                url: '/Employee/SendExamNotification/?Id=' + Inst_Id,
                dataType : "json",
                success: function (data) {
                    if (data.Message == 1)
                    {
                        exam.server.notifyExamSchedule(Inst_Id, Instructor_Name, "2om Ya shaba7 7ot emte7ank", Rediercted_Url);
                    }
                    else if (data.Message == 0)
                    {
                        console.log("ExternalMailsent");
                    }
                },
                failure: function (response) {
                    console.log("Fail");
                }
            });
        });


        $.connection.hub.qs = { "name": Instructor_Name, "Id": Id, "Branch": Branch, "Platform": Platform, "LoggedEntity": LoggedEntity, "Type": Type };

        exam.client.broadcast = function (name, message) {
            alert(name + "" + message);
        };

        exam.client.receiveExamSchedule = function (SenderName, Message, Clicked_Url) {
           
        };



        $.connection.hub.start().done(function () {
            server.connection.sendToPerson(1, "as");

        });

    </script>
}