
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>
    <title>SignalREmp1</title>
</head>
<body>
    <div> 
        <input type="button" value="send" id="test" />
    </div>
    <script type="text/javascript">
        $(function () {
            console.log("As")
            var exam = $.connection.examHub;
            var target = 55896;
            $.connection.hub.qs = { "name": "AlameerEmp1", "Id": 25874, "Track": "SD" };

            exam.client.broadCast = function (name, message) {
                alert(name + "" + message);
            }
            $.connection.hub.start().done(function () {
                exam.server.send("Alameer", "Hi");
                $("#test").click(function () {
                    exam.server.sendToPerson(target, "message real time w sho8l 3ali, saba7 elfol");
                })
            });
        });
    </script>
</body>

</html>
