<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>
    <title>SignalR</title>
</head>
<body>
    <div> 
    </div>
    <script type="text/javascript">
        $(function () {
            console.log("As")
            var exam = $.connection.examHub ;
            $.connection.hub.qs = "name=John"; 

            exam.client.broadCast = function (name, message) {
                alert(name + "" + message);
            }
            $.connection.hub.start().done(function () {
                exam.server.send("Alameer", "Hi");
            });
        });
    </script>

</body>

</html>
