@using BusineesLayer.Map
@model StudentMap



@{
    ViewBag.Title = "Student Profile |" + Model.englishname;
    ViewBag.Name = Model.englishname;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.englishname</h2>
@Html.Hidden("Student_Enrollement", Model.Student_Enrollment)
<input type="hidden" value="26" id="as" />

<input type="hidden" value=@Model.Username name="Std_Name" />
<input type="hidden" value=@Model.Email name="Std_Mail" />
<input type="hidden" value=@Model.SubTrackID name="SubTrackID" />
<input type="hidden" value=@Model.PlatformIntakeID name="PlatformIntakeID" />
<input type="hidden" value=@Model.StudentID name="Id" />
<input type="hidden" value=@Model.TrackId name="TrackId" />
<input type="hidden" value=@Model.BranchID name="BranchID" />

@section scripts {

<script type="text/javascript">

    $(document).ready(function () {
        var Std_Name = $("[name='Instructor_Name']").val();
        var Std_Mail = $("[name='Instructor_Mail']").val();
        var BranchID = $("[name='BranchID']").val();
        var Id = $("[name='Id']").val();
        var PlatformIntake = $("[name='PlatformIntakeID']").val();
        var Host = "http://localhost:51490";
        var Rediercted_Url = Host + "/Exam/CreateExam";
        var LoggedEntity = "L";
    })
    console.log($("#Student_Enrollement").val());
            $.connection.hub.url = "http://localhost:51822/signalr";
            var exam = $.connection.examHub;
            $.connection.hub.qs = { "name": Std_Name, "Id": Id, "Branch": BranchID, "Platform": PlatformIntake, "LoggedEntity": LoggedEntity, "Type": Type };
            
            exam.client.broadCast = function (name, message) {
                alert(name + "" + message);
            }

            $.connection.hub.start().done(function () {
                exam.server.send("Alameer", "Hi");
                $("#test").click(function () {
                    exam.server.sendToPerson(target, "message real time w sho8l 3ali, saba7 elfol");
                })
            });
</script>
    }

