@using BusineesLayer.Map
@model StudentMap



@{
    ViewBag.Title = "Student Profile |" + Model.englishname;
    ViewBag.Name = Model.englishname;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.englishname</h2>
@Html.Hidden("Student_Enrollement", Model.Student_Enrollment)
<input type="hidden" value="26" id="as" />

@section scripts {

<script type="text/javascript">
    console.log($("#Student_Enrollement").val());
            $.connection.hub.url = "http://localhost:51822/signalr";
            var exam = $.connection.examHub;
            var target = 55896;
            $.connection.hub.qs = { "name": "Emplyee1034", "Id": 1034, "Track": "SD", "Type": 0 };
            
            exam.client.broadCast = function (name, message) {
                alert(name + "" + message);
            }

            $.connection.hub.start().done(function () {
                exam.server.send("Alameer", "Hi");
                $("#test").click(function () {
                    exam.server.sendToPerson(target, "message real time w sho8l 3ali, saba7 elfol");
                })
            });
</script>
    }

