@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student - Autherization </title>
    <link href="~/Content/assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/assets/css/login.css" rel="stylesheet" />

    @* Angular js  *@
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/Angular/Controllers/LoginCtrl.js"></script>

</head>

<body class="body-Login-back" ng-app="LoginApp">

    <div class="container" ng-controller="LoginCtrl">

        <div class="row login-margin">
            <div class="col-md-4 col-md-offset-4 text-center logo-margin ">
                <img src="~/Content/assets/img/iti%20%5BConverted%5D-01.png" alt="ITI-Logo" />
            </div>
            <div class="col-md-4 col-md-offset-4 ">
                <div class="login-panel panel-default">

                    <div class="form-group text-center">
                        <div class="form-group input-group input-group-sm col-md-9 col-md-offset-1 margin-space">
                            <span class="input-group-addon" aria-hidden="true"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" placeholder="Username" ng-model="userName">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="form-group input-group input-group-sm  col-md-9 col-md-offset-1 text-center margin-space">
                            <span class="input-group-addon "><i class="fa fa-lock" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" placeholder="Password" ng-model="passWord">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group input-group input-group-sm col-md-9 col-md-offset-1 margin-space">
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Remember Me !</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group text-center text-center">
                        <a class="btn btn-md btn-default action-btn" ng-click="sendData(userName,passWord)">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/assets/plugins/jquery-1.10.2.js"></script>
    <script src="~/Content/assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/metisMenu/jquery.metisMenu.js"></script>

</body>

</html>
