
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" ng-app="Examination">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/assets/css/startexam.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row main-page-form">
            <div class="col-lg-12 title">
                <span>Exam Details</span>
            </div>
            <div class="container-padding">
                <div class="col-md-8">
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="title-1">Exam name:</th>
                                    <th class="title-2">Java script</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="title-1">Total Questions:</td>
                                    <td>90</td>
                                </tr>
                                <tr>
                                    <td class="title-1">Start Time:</td>
                                    <td>9:00 am</td>
                                </tr>
                                <tr>
                                    <td class="title-1">End Time:</td>
                                    <td>12:00 pm</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive margin-img" src="~/Content/assets/img/exam.png"alt="">
                </div>
                <div class="col-md-12 text-center margin-btn">
                    <a href="/Student/Exam" type="button" class="btn btn-success text-center">Start Exam</a>
                </div>
            </div>
        </div>
    </div>
    <!--jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <!--bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--angular-->
    <script src="~/Scripts/jQuerySelect.js"></script>


</body>
</html>